html, body {
  overflow-x: hidden;/* Prevent horizontal scrolling */
  margin: 0;
  padding: 0;
  width: 100%;
}

.scrollable-container {
  font-family: Arial, sans-serif;
  background-color: #000000;
  color: white;
  padding: 20px;
  min-height: 100vh;
  width: 100%;
  overflow: auto; /* Enable scrolling when needed */
  position: relative;
}
.scrollable-container::-webkit-scrollbar {
  width: 0px; /* Width of the scrollbar */
  background: transparent; /* Background color of the scrollbar */
}
/* Hide scrollbar but allow scrolling */

h1 {
  color: #ffffff;
}

.mnemonic-container{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.mnemonic-box {
  background-color: black;
  color: white;
  border: 0.1px solid #ffffff;
  padding: 10px 15px;
  border-radius: 5px;
  border-color: white;
  font-size: 1em;
  text-align: center;
  flex: 0 1 auto; /* Allow the boxes to grow and shrink */
}
/* Prevent horizontal scrolling */